fastapi
uvicorn
sqlalchemy
pymysql
pydantic
pydantic-settings
openai
edge-tts
python-multipart
python-dotenv
aiofiles
uvicorn[standard]
httpx
ultralytics
opencv-python-headless
PyJWT
discord.py
apscheduler
pypdf
python-docx
youtube-transcript-api
